<div class="container">
  <div class="row ">
    <div class="col-lg-3 padding ">
     <h3 class="d-inline header">Property Photos</h3>
     <p> harum accusantium vitae dolorem quod voluptatum cupiditate libero non unde commodi eaque, aut tempora id officiis iste?
     </p>
    </div>
    <div class="col-lg-9 col-sm-12 imgsec padding">
      <img src="https://a0.muscache.com/im/pictures/52ef8a16-f6ee-4bdf-9fd9-0d213f3c59db.jpg?im_w=720" srcset="" class="img1">
      <img src="https://a0.muscache.com/im/pictures/b41fa06b-9a64-4cd6-912e-0f5e92c2a5d2.jpg?im_w=720" srcset="" class="img2">
      <img src="https://a0.muscache.com/im/pictures/847a00c1-5922-4d35-84e2-dcc4c7c98fb5.jpg?im_w=1200" srcset="" class="img3">
    </div>
  </div>
</div>
