
.color{
  background-color:black;
  position: fixed;
  z-index: 11;
}
.navbar{
  width: 100%;
}
.nav-item a{
  Color: var(--color);
  font-family: var(--font-family);
  font-size: 12px;
  /* margin: 15%; */
  padding: 30px ;
  text-decoration: none;
  cursor: pointer;

}
.bglogo1{
  padding: 30px ;
  /* padding-left: 0px; */
}
.inline-block{
  display: inline-block;
}
@media(max-width: 576px){
  .nav-item a{
    padding: 5px ;
  }
  .bglogo1{
    display: inline;
    padding: 5px ;
    padding-left: 0px;
  }
}

.label3{
  padding-left: 50px;
 }



@media(max-width: 280px){
  .nav-item a{
    padding: 3px !important;
  }
  .bglogo1{
    /* display: inline; */
    padding: 2px ;
    padding-left: 0px;
  }
}
@media (max-width: 992px) {
  .nav-item a{
    padding: 5px ;
  }
  .bglogo1{
    display: inline;
    padding: 5px ;
    padding-left: 0px;
  }
}

