<div class="container-fluid color">
  <div class="row">
    <div class="col-3">
      <div class="justify-content-start logo">
        <img src="../../../assets/Images/bglogo1.png"class="bglogo1" alt="">
    </div>
    </div>
    <div class="col-9">
      <ul class="nav justify-content-end navbar">
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">English</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link active" href="#">Become a host</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Log in</a>
        </li>
      </ul>
  </div>
</div>
</div>
