<!-- <app-landing-page-navbar-component></app-landing-page-navbar-component> -->


<div class="container ">
    <div class="row justify-content-center">

        <div class="col-md-12 col-lg-6">

            <div class="card my-5 py-5  border-0">

            <div class="card-body my-5 py-5">
                <a  routerLink="/account/register" class="float-end btn btn-outline-primary">Sign up</a>
                <h4 class="card-title mb-4 mt-5">Login</h4>
                <p>
                    <a href="" class="btn form-control btn-outline-primary mb-2"> <i class="fab fa-facebook-f"></i>   Login via facebook</a>
                    <a href="" class="btn form-control btn-outline-danger"> <i class="fab fa-google"></i>   Login with Google</a>
                </p>
                <hr>
                <form #loginForm="ngForm" (ngSubmit)="Login()">

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">@</span>
                        <input type="email" class="form-control" name="email" #email='ngModel' [(ngModel)]="user.email" placeholder="Email or user name" aria-label="email" aria-describedby="basic-addon1">
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-lock"></i> </span>
                        <input type="password" class="form-control" name="password" #password="ngModel" [(ngModel)]="user.password" placeholder="******" aria-label="password" aria-describedby="basic-addon1">
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-6">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block form-control"> Login  </button>
                            </div> <!-- form-group// -->
                        </div>
                        <div class="col-md-6 text-end pt-1">
                            <a class="small" href="#">Forgot password?</a>
                        </div>
                    </div> <!-- .row// -->

                </form>
            </div>

            </div> <!-- card.// -->

        </div> <!-- col.// -->
    </div> <!-- row.// -->

</div>

