<!-- <app-landing-page-navbar-component></app-landing-page-navbar-component> -->
<header class="header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-1 logodiv">
        <div class="justify-content-start logo">
          <!-- <img src="../../../assets/images/bglogo1.png" class="bglogo1" alt=""> -->
        </div>
      </div>
      <div class="col-lg-11 col-sm-12 py-4 my-0 mylabel">
        <label class="labelplaces text-lg-center">Places To Stay</label>
        <hr class="hr">
        <div class="input-group justify-content-around formdiv">
         <form class="homeform" #searchForm="ngForm" >
          <input type="text" class="form-control firstinput" name="location" #location placeholder="location">
          <input type="text" class="form-control" name="minPrice" #minPrice placeholder="min price">
          <input type="text" class="form-control lastinput" name="maxPrice" #maxPrice placeholder="max price">
          <button  class="btn btn-outline-secondary btnsearch"  type="button" id="button-addon2" (click)="search(location.value, minPrice.value , maxPrice.value)" >search</button>
        </form>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 my-5 py-5 para2">
          <h1 class="para">
            Olympian & Paralympian Online Experiences
          </h1>
          <button type="button" class="btn btn-light btnexplore">Explore now</button>
      </div>
    </div>
  </div>
</header>
<section>
  <div class="container">
   <h1 class="nearbyheader my-5">Explore places</h1>
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
       <div class="col-md-4">
        <img src="../../../assets/Images/prop1.jpg"  class="img-fluid rounded-start" alt="...">
       </div>
       <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Country</h5>
          <p class="card-text"><small class="text-muted">details</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 hostimg my-5">
        <div class="texthost">
          <h1 class="my-3"> <a routerLink="/hosting" class="hostbtn hostbtn2">Not sure where to go?</a></h1>
          <!-- <h6>Earn extra income and unlock new opportunities by sharing your space.</h6> -->
          <a routerLink="/flexible" class="btn my-3">I'm flexiable</a>
        </div>
        <a routerLink="/flexible">
        <img src="	https://a0.muscache.com/im/pictures/258b129d-d1cd-48b5-86d4-86206c13ebf7.jpg?im_w=1440" alt="" class="imgself"  srcset="" >
        </a>
      </div>
    </div>
  </div>
  </section>
<section>
<div class="container">
  <div class="row">
    <div class="col-12 hostimg my-5">
      <div class="texthost">
        <h1 class="my-3"> <a routerLink="/hosting" class="hostbtn">Try hosting</a></h1>
        <h6>Earn extra income and unlock new opportunities by sharing your space.</h6>
        <a routerLink="/hosting" class="btn my-3">Try hosting</a>
      </div>
      <a routerLink="/hosting">
      <img src="../../../assets/Images/homehost.jpg" alt="" class="imgself"  srcset="" >
      </a>
    </div>
  </div>
</div>
</section>

