
<div id="cont">
  <div id="left-side" class="col-6">
    <div id="firstpagel">
    <p id="title2">Now we can add some photos ! </p>
  </div>
  </div>
  <div id="right-side" class="col-6">
  <form #r="ngForm" >
    <div class="mb-3" id="firstpage">
      <label for="exampleFormControlInput1" class="form-label">Property Name</label>
      <div class="card bg-light mt-2">
        <div class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">Profile Picture</h4>

            <form (ngSubmit)="Addpropertyimages(fileUploader)">

                <div class="custom-file mb-3">
                    <input multiple type="file" name="image" #fileUploader class="custom-file-input" (change)="onImageChange($event)" accept="image/*" >
                    <label class="custom-file-label" for="customFile">Upload Pictures</label>
                </div>
                {{filenames | json}}
                <div class="form-group mb-3">
                    <button type="submit" class="btn-block btn btn-success">Add</button>
                </div>

            </form>
        </div>
    </div>

    </div>
  </form>
  </div>
  </div>
