
.cards{
  /* width: 100%; */
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;

  /* overflow-x: hidden !important; */

  /* flex: 30%; */
  /* flex-direction: row; */
}
.card-body1{
  width: 30%;
  border-radius: 5%;
  overflow: hidden;
  /* border-bottom-left-radius: 2%;
  border-bottom-right-radius: 2%; */


}

.anchorstyle{
  text-decoration: none;
  color: black;
}
#cont{
  display: flex;
  height: 1200px;
  padding-top:80px;
  padding-bottom:100px;
}
#Left-Side-Of-Page{
  height: 500px;
}

img{
  width: 100%;
  height: 180px;
  border-radius: 16px;
}
#temp{
width: 100%;
}
#carso{
  width: 250px;
}
#title{
font-size: 3rem;
font-weight: 700;
}
#property{
  width: 600px;
  height: 225px;
  border-top: .3px   rgba(0, 0, 0, 0.493) solid;
  border-bottom: .3px   rgba(0, 0, 0, 0.493) solid;
  padding: 20px;
  display: flex;
}

#propdesc{
  width: 350px;
  padding: 10px;
}
.card {
  border:none
}
.card-title{
  text-transform: capitalize;
}
.card-body {
  padding: 0.25rem;
}
.card-subtitle .beforeDiscount {
  text-decoration: line-through;
}

#propname{
  font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
}

#rating{
  position: relative;
  top: 38px;
}

#price{
  margin-left: 220px;
  margin-bottom: 20px;
}

#Right-Side-Of-Page{
  height: 100vh;
  width: 50%;
  position: fixed;
  left: 50%;
}
.pagination {
  margin-top: 20px;
  justify-content: center !important;
}
