<div class="header">
<div class="container">
  <div class="row">
    <div class="col px-0">
      <h1 class="my-5 py-5 title">Property Details Header</h1>
    </div>
  </div>
</div>

<section>
  <div class="container">
    <div class="row">
        <div class="col-8 column allimg padingremover1">
          <img src="../../../../assets/Images/propdetails1.jpg " >
        </div>
        <div class="col-4 column allimg padingremover2">
          <img src="../../../../assets/Images/propdetails2.jpg">
          <a routerLink="/propertyoverview" class="galarybtn" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
            <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
          </svg>Show More Photos</a>
        </div>
      </div>
    </div>
</section>

<section>
  <div class="container">
    <div class="row">
        <div class="col numbers">
        <p>number of guests</p>
        <span class="_10wqwyj" aria-hidden="true">·</span>
        <p>number of bedrooms</p>
        <span class="_10wqwyj" aria-hidden="true">·</span>
        <p>number of bed</p>
        <span class="_10wqwyj" aria-hidden="true">·</span>
        <p>number of bath</p>
        </div>
      </div>
    </div>
</section>

<hr>
<div class="container">
  <div class="row">
      <div class="col-lg-8 numbers">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias culpa dolorum suscipit! Fugit nostrum natus architecto, accusantium ad ipsum consectetur?</p>
      </div>
      <div class="col-lg-4 col-sm-12">
        <form class="form">
          <div class="head">
            <h2>Book unique accommodations and activities.</h2>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label label2 mx-0"> Arrival</label>
            <label for="exampleInputEmail1" class="form-label label2 label3 mx-lg-5 px-4 departure"> Departure</label>
            <div class="input-group mb-3">
              <input type="date" class="form-control" placeholder="dd/mm/yyyy" aria-label="Username">
              <input type="date" class="form-control" placeholder="dd/mm/yyyy" aria-label="Server">
            </div>
            </div>
          <div class="mb-3">
              <div ngbDropdown class="d-inline-block dropdown1">
                <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="mydropdown">
                  <button ngbDropdownItem>Adults</button>
                  <a href="#"><i class="far fa-plus-square"></i></a>
                  <p class="number">1</p>
                  <a href="#"><i class="far fa-minus-square"></i></a>

                  <hr>
                  <button ngbDropdownItem>Childern</button>
                  <a href="#"><i class="far fa-plus-square"></i></a>
                  <p class="number">1</p>
                  <a href="#"><i class="far fa-minus-square"></i></a>
                  <hr>
                  <button ngbDropdownItem>Infants</button>
                  <a href="#"><i class="far fa-plus-square"></i></a>
                  <p class="number">1</p>
                  <a href="#"><i class="far fa-minus-square"></i></a>
                </div>
              </div>
          </div>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end ">
            <button type="submit" class="btn btn-primary formbtn">Reserve</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <section>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>Amenities</h1>
          <div><hr>Amenity name<hr></div>
        </div>
      </div>
    </div>
  </section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-5 hostcol">
        <img class="hostperson" src="../../../../assets/Images/person1.jpg" alt="" srcset="">
        <h3 class="hostname">Hosted by Name</h3>
        <div  [ngClass]="{'limitTextHeight': isReadMore}">
          <p>Born and raised in Italy, I have lived in the United States for over 20 years.I work as a Technical Program Manager at Intel. Jayson moved to Phoenix about 20 year ago and is the…</p>
        </div>
        <button type="button" (click)="showText()" class="readmorebtn">
          {{ isReadMore ? '...Read More': 'Read Less...' }}
        </button>
      </div>
      <div class="col-lg-3 d-flex justify-content-lg-end telhost">
        <div>
          <p><strong>Telphone Number</strong></p>
          <p><small>{{telphone}}</small></p>
        </div>
      </div>
    </div>
  </div>

</section>

