<div class="header">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="my-5 py-5 title">Property Details Header</h1>
            </div>
        </div>
    </div>

    <!-- <div class="container">
  <div class="row">
    <div class="col-12 my-3 propdetails allimg">
      <img src="../../../../assets/Images/propdetails1.jpg">
    </div>

  </div>
</div> -->
    <div class="container">
        <div class="row">
            <div class="col-8 column allimg padingremover1">
                <img src="../../../../assets/Images/propdetails1.jpg ">
            </div>
            <div class="col-4 column allimg padingremover2">
                <img src="../../../../assets/Images/propdetails2.jpg">
                <button class="galarybtn"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
          <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
        </svg>Show More Photos</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col numbers">
            <p>number of guests</p>
            <span class="_10wqwyj" aria-hidden="true">·</span>
            <p>number of bedrooms</p>
            <span class="_10wqwyj" aria-hidden="true">·</span>
            <p>number of bed</p>
            <span class="_10wqwyj" aria-hidden="true">·</span>
            <p>number of bath</p>
        </div>
    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="col-lg-8 numbers">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias culpa dolorum suscipit! Fugit nostrum natus architecto, accusantium ad ipsum consectetur?</p>
        </div>
        <div class="col-lg-4 col-sm-12">
            <form class="form">
                <div class="head">
                    <h2>Book unique accommodations and activities.</h2>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label label2 mx-0"> Arrival</label>
                    <label for="exampleInputEmail1" class="form-label label2 label3 mx-lg-5 px-4 departure"> Departure</label>
                    <div class="input-group mb-3">
                        <input type="date" class="form-control" placeholder="dd/mm/yyyy" aria-label="Username">
                        <input type="date" class="form-control" placeholder="dd/mm/yyyy" aria-label="Server">
                    </div>
                </div>

                <div class="mb-3">




                    <div ngbDropdown class="d-inline-block dropdown1">
                        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="mydropdown">
                            <button ngbDropdownItem>Adults</button>
                            <a href="#"><i class="far fa-plus-square"></i></a>
                            <p class="number">1</p>
                            <a href="#"><i class="far fa-minus-square"></i></a>

                            <hr>
                            <button ngbDropdownItem>Childern</button>
                            <a href="#"><i class="far fa-plus-square"></i></a>
                            <p class="number">1</p>
                            <a href="#"><i class="far fa-minus-square"></i></a>
                            <hr>
                            <button ngbDropdownItem>Infants</button>
                            <a href="#"><i class="far fa-plus-square"></i></a>
                            <p class="number">1</p>
                            <a href="#"><i class="far fa-minus-square"></i></a>
                        </div>
                    </div>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end ">
                    <button type="submit" class="btn btn-primary formbtn">Reserve</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Amenities</h1>
            <div>
                <hr>Amenity name
                <hr>
            </div>
            <div>
                <hr>Amenity name
                <hr>
            </div>
            <div>
                <hr>Amenity name
                <hr>
            </div>
            <div>
                <hr>Amenity name
                <hr>
            </div>
            <div>
                <hr>Amenity name
                <hr>
            </div>
        </div>
    </div>
</div>
<div class="container">

    <div>
        <i class="fas fa-star" style="display: inline; color: #92174D;"></i>
        <h4 style="display: inline;"> 4.98 (395 reviews) </h4>
    </div>

    <div class="row">
        <div class="col">
            <ul class="list-unstyled">
                <li>Cleanliness</li>
                <li>Communication</li>
                <li>Check-in</li>

            </ul>
            <div class="rate">
                <ul class="list-unstyled stars">
                    <li>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    </li>
                    <li>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    </li>
                    <li>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    </li>

                </ul>

            </div>
        </div>
        <div class="col">
            <ul class="list-unstyled">
                <li>Accuracy</li>
                <li>Location</li>
                <li>Value</li>

            </ul>
            <div class="rate">
                <ul class="list-unstyled stars">
                    <li>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    </li>
                    <li>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    </li>
                    <li>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    </li>

                </ul>

            </div>

        </div>



    </div>
    <div class="row">
        <div class="col">
            <img src="../../../../assets/Images/bgimg1.png" alt="" class="rateimg">
            <p style="font-weight: bold; display: inline;margin-left: 10px;"> namee </p>
            <p style="margin-top: 15px;"> Alessandro was very informative and welcoming. He gave me a great walk though and told me all about the amenities available. The listing was everything AND MORE! I'd definitely stay here again!</p>

        </div>
        <div class="col">
            <img src="../../../../assets/Images/bgimg1.png" alt="" class="rateimg">
            <p style="font-weight: bold; display: inline;margin-left: 10px;"> namee </p>
            <p style="margin-top: 15px;"> Alessandro was very informative and welcoming. He gave me a great walk though and told me all about the amenities available. The listing was everything AND MORE! I'd definitely stay here again!</p>

        </div>
        <div class="row">
            <div class="col">
                <img src="../../../../assets/Images/bgimg1.png" alt="" class="rateimg">
                <p style="font-weight: bold; display: inline;margin-left: 10px;"> namee </p>
                <p style="margin-top: 15px;"> Alessandro was very informative and welcoming. He gave me a great walk though and told me all about the amenities available. The listing was everything AND MORE! I'd definitely stay here again!</p>

            </div>
            <div class="col">
                <img src="../../../../assets/Images/bgimg1.png" alt="" class="rateimg">
                <p style="font-weight: bold; display: inline;margin-left: 10px;"> namee </p>
                <p style="margin-top: 15px;"> Alessandro was very informative and welcoming. He gave me a great walk though and told me all about the amenities available. The listing was everything AND MORE! I'd definitely stay here again!</p>

            </div>
        </div>