<div class="card" style="width: 14rem;" *ngFor="let item of properties">
  <img src="https://th.bing.com/th/id/OIP.l6V_v64DSDH36CF7aWWsJQHaDt?pid=ImgDet&rs=1" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{item.PropertyName}}</h5>
    <p class="card-text">{{item.PropertyDescription}}</p>
    <p class="card-text">{{item.PropertyPricePerNight}}</p>
    <p class="card-text">{{item.PropertyPricePerNight}}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
