<div id="Secone">
  <div id="seconeleft" >
    <div id="title">
      <p style="text-align: center;margin-bottom: -10px">Hosting</p>
      <p style="text-align: center;margin-bottom: -10px">makes Airbnb,</p>
      <p style="text-align: center;margin-bottom: -10px">Airbnb</p>
    </div>
  </div>
    <div id="seconeright">
      <button id="btnhost" class="btn btn-danger" (click)="Hostnow()">Try Hosting</button>
    </div>
</div>
<div id="Sectwo" class="container">
  <ngb-carousel id="carousel">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img id="carouselimg" src="../../../assets/Images/person4.jpg" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3>I love hosting my eco-home so people can connect with nature and their loved ones.</h3>
        <!-- <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p> -->
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img id="carouselimg" src="../../../assets/Images/person2.jpg" alt="Random second slide">
      </div>
      <div class="carousel-caption">
        <h3>“There’s no shortage of remarkable ideas, what’s missing is the will to execute them.”  </h3>
        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img id="carouselimg" src="../../../assets/Images/person3.jpg" alt="Random third slide">
      </div>
      <div class="carousel-caption">
        <h3>“We can do no great things, only small things with great love.”</h3>
        <!-- <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p> -->
      </div>
    </ng-template>
  </ngb-carousel>
</div>
<div id="Secthree">
  <p id="text3">
    Host your <select>
      <option  value="250" >Private property</option>
      <option value="300" >Cabin</option>
      <option value="400">Yard</option>
    </select>for
     <select (change)="selectedOption($event)" [(ngModel)]="selectedOption" >
      <option [value]="item.value" *ngFor="let item of guest" >{{item.name}}</option>
    </select> in
     <input value="Alexandria"><br>
    and earn up to 148$s
</div>
<div id="Secfour">
  <p id="text4">
    We’ll help you bring<br>
    the art of hosting to life</p>
    <div id="slots" >
      <a class="slotanch">
        <div  class="pre-inner" >
            <img id="slot1" src="https://images.contentstack.io/v3/assets/bltb428ce5d46f8efd8/blt4320e83d9ae01baa/6099abfe8424ad0bfd876410/newhlphost.jpg?crop=100p,75p,x0,y17.75p&width=1050&height=591&auto=webp" alt=""><br><br>
            <h3>work together with great Hosts</h3>
            <!-- <p>We also enforce guest standards</p> -->
        </div>
      </a>
      <a class="slotanch">
        <div  class="pre-inner" >
            <img id="slot1" src="https://images.contentstack.io/v3/assets/bltb428ce5d46f8efd8/blt03ee5d7a42150122/609c45124de52e0ca5006b42/PJO0031318Q403_My-Plus-Homes_Florence_2018-November-07-7819_JL1_169crop.jpg?crop=100p,100p,x0,y0&width=720&height=405&auto=webp" alt=""><br><br>
            <h3>Gain new experince</h3>
            <!-- <p>We also enforce guest standards</p> -->
        </div>
      </a>
      <a class="slotanch">
        <div  class="pre-inner">
            <img id="slot1" src="https://images.contentstack.io/v3/assets/bltb428ce5d46f8efd8/blt89a30e3eb7afaccf/609c478b2bcbae0ac87ca68b/22256187_Iconic-Homes-Birds-Nest_013_169crop.jpg?crop=100p,100p,x0,y0&width=1050&height=591&auto=webp" alt=""><br><br>
            <h3>Access Host protections</h3>
            <!-- <p>We also enforce guest standards</p> -->
        </div>
      </a>
  </div>
</div>
<div id="Secfive">
  <div id="secfiveleft"></div>
  <div id="secfiveright" >
    <div id="title">
      <p style="text-align: center;margin-bottom: -10px">Try Hosting in</p>
      <p style="text-align: center;margin-bottom: -10px">Airbnb</p>
    </div>
    <button id="btnhost2" class="btn btn-danger" (click)="Hostnow()">Let’s go</button>
  </div>


  </div>
