<div id="Secone">
  <div id="seconeleft" >
    <div id="title">
      <p style="text-align: center;margin-bottom: -10px">Hosting</p>
      <p style="text-align: center;margin-bottom: -10px">makes Airbnb,</p>
      <p style="text-align: center;margin-bottom: -10px">Airbnb</p>
    </div>
  </div>
    <div id="seconeright">
      <button id="btnhost" class="btn btn-danger">Try Hosting</button>
    </div>
</div>
<div id="Sectwo" class="container">
  <ngb-carousel id="carousel">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img id="carouselimg" src="../../../assets/Images/person4.jpg" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img id="carouselimg" src="../../../assets/Images/person2.jpg" alt="Random second slide">
      </div>
      <div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img id="carouselimg" src="../../../assets/Images/person3.jpg" alt="Random third slide">
      </div>
      <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
<div id="Secthree">
  <p id="text3">
    Host your <select style="background-color: rgba(0, 0, 0, 0); color: white;border-style: hidden;">
      <option  value="250" style="background-color: black;">Private property</option>
      <option value="300" style="background-color: black;">Cabin</option>
      <option value="400" style="background-color: black;">Yard</option>
    </select>for <select style="background-color: rgba(0, 0, 0, 0); color: white;border-style: hidden;">
      <option #occupation value="1" style="background-color: black;">1 guest</option>
      <option value="2" style="background-color: black;">2 guest</option>
      <option value="3" style="background-color: black;">3 guest</option>
      <option value="4" style="background-color: black;">4 guest</option>
    </select> in <input style="background-color: rgba(0, 0, 0, 0); color: white;border-style: hidden; width: 19.4rem;"  value="Alexandria"><br>
    and earn up to 125$
</div>
<div id="Secfour">
  <p id="text4">
    We’ll help you bring<br>
    the art of hosting to life</p>
    <div id="slots" >
      <a class="slotanch" href="http://www.google.com">
        <div  class="pre-inner" >
            <img id="slot1" src="../../../assets/Images/slot1.jpg" alt=""><br><br>
            <p>See Our latest bla bla bla</p>
        </div>
      </a>
      <a class="slotanch" href="http://www.google.com">
        <div  class="pre-inner" >
            <img id="slot1" src="../../../assets/Images/slot1.jpg" alt=""><br><br>
            <p>See Our latest bla bla bla</p>
        </div>
      </a>
      <a class="slotanch" href="http://www.google.com">
        <div  class="pre-inner">
            <img id="slot1" src="../../../assets/Images/slot1.jpg" alt=""><br><br>
            <p>See Our latest bla bla bla</p>
        </div>
      </a>
  </div>
</div>
<div id="Secfive">
  <div id="secfiveleft"></div>
  <div id="secfiveright" >
    <div id="title">
      <p style="text-align: center;margin-bottom: -10px">Try Hosting in</p>
      <p style="text-align: center;margin-bottom: -10px">Airbnb</p>
    </div>
    <button id="btnhost2" class="btn btn-danger">Let’s go</button>
  </div>


  </div>
