<div class="container my-4">
    <div>
        <a routerLink="/home"><i class="fas fa-chevron-left"></i></a>
        <h2 class="confirm">Confirm and pay</h2>

    </div>
    <div class="row">
        <div class="col">

            <div class="row fbox my-5 p-3">
                <div class="col">
                    <h5>This is a rare find.</h5>
                    <p style="color: #A1A1A1;">{{prop.user.fname}} place is usually booked.</p>
                </div>
                <div class="col">
                    <i class="far fa-gem"></i>
                </div>

            </div>
            <div class="mt-2">
                <h3 class="p1">Your trip</h3>
                <p class="p2">Start Date</p>
                <p class="p3">{{startDate | date:'fullDate'}}</p>
                <p class="p4">End Date</p>
                <p class="p5">{{endDate | date:'fullDate'}}</p>

            </div>
            <hr>
            <hr>
            <div>
                <h3 class="p10">Cancellation policy</h3>
                <p class="p11"><span style="color: black; font-weight: bold;">Free cancellation before 3:00 PM on Sep 26.</span> After that, cancel before 3:00 PM on Oct 1 and get a 50% refund, minus the first night and service fee.</p>
                <p class="p12">Learn more </p>
                <p class="p13">Our Extenuating Circumstance policy does not cover travel disruptions caused by COVID-19. <span style="color:black;text-decoration:underline">Learn more</span> </p>

            </div>
            <hr>
            <div class="final">
                <p>By selecting the button below, I agree to the <span style="text-decoration: underline;">House Rules,</span> <span style="text-decoration: underline;">Safety Disclosures,</span> <span style="text-decoration: underline;">Airbnb’s social-distancing and other COVID-19-related guidelines, Cancellation Policy,</span>                    and the <span style="text-decoration: underline;">Guest Refund Policy.</span> I also agree to pay the total amount shown, which includes Service Fees.</p>
                <button class="btn" (click)="makeReservation()">Confirm and pay</button>
            </div>
        </div>
        <div class="col">
            <div class="right sticky-top ">
                <div class="row">
                    <div class="col-4" *ngIf="prop.propertyImages[0].image; else noimage">
                        <img src="https://localhost:44351/images/property/{{prop.propertyImages[0].image}}" alt="" class="img">
                    </div>

                    <ng-template #noimage>
                        <div class="col-4">
                            <img src="https://localhost:44351/images/property/{{prop.propertyImages[0].image}}" alt="" class="img">
                        </div>
                    </ng-template>
                    <div class="col-8 my-4">
                        <p class="p14">{{prop.propertyName}}</p>
                        <p class="p15">{{prop.propertyDescription}}</p>
                        <p class="p16">{{prop.propertyTotalBeds}} beds · {{prop.propertyTotalBathrooms}} baths . {{prop.propertyTotalRooms}} rooms</p>
                        <i class="fas fa-star fa-xs"> <span style="color: black;">4.86</span> <span style="color: #797979;">(7 reviews)</span> </i>
                    </div>
                </div>
                <hr>
                <div>
                    <div>
                        <h3 class="mx-3">Price details</h3>
                    </div>

                    <div class="my-4 mx-3">
                        <p class="p17" placement="top" ngbPopover="Average nightly rate is rounded."> {{prop.propertyPricePerNight | currency}} x {{dateDiff}} nights</p>
                        <p class="p18"> {{totalPrice | currency}}</p>
                    </div>
                </div>

                <hr style="margin-top: 175px;">

                <div class="hide" [hidden]="!flag">
                    <div class="my-4 mx-3">
                        <p class="p17" style="text-decoration: none;font-weight: bold;">Due on {{startDate | date:'fullDate'}}</p>
                        <p class="p18" style="font-weight: bold;">
                            {{totalPrice | currency}}</p>
                    </div>
                </div>


            </div>



        </div>

    </div>
</div>
